<% if object.errors.any? %>
    <div class= "field_with_errors" >
    <h3><%= pluralize(object.errors.count, "error") %> prevented this from saving:
    <ul>
    <% object.errors.full_messages.each do |error| %>
        <li><%= error %></li>
    <% end %>
    </ul>
    </div>
<% end %>