<% if user.errors.any? %>
    <div class= "field_with_errors" >
    <h3><%= pluralize(user.errors.count, "error") %> prevented this account from saving:
    <ul>
    <% user.errors.full_messages.each do |error| %>
        <li><%= error %></li>
    <% end %>
    </ul>
    </div>
<% end %>