<% if product.errors.any? %>
    <div class= "field_with_errors" >
    <h3><%= pluralize(product.errors.count, "error") %> prevented the Product from saving:
    <ul>
    <% product.errors.full_messages.each do |error| %>
        <li><%= error %></li>
    <% end %>
    </ul>
    </div>
<% end %>